@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  @font-face {
    font-family: "dana";
    src: url("./fonts/dana.woff2");
  }
  * {
    font-family: "dana";
  }
  body{
    background-color: black;
  }
  .lists::-webkit-scrollbar {
      height: 10px;
  }
  .g_a11y_announcement{
    display: none;
  }
}
